nav{
    background-color: #84675776;
    /* background-color: #F1E6D6; */
    width: max-content;
    padding: 0.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1.5rem;
    position: fixed;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    bottom: 0.5rem;
    border-radius: 15px;
    backdrop-filter: blur(15px);


}
@media screen and (max-width:415px) {
    nav{
        gap: 3.5rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        left: 50%;
        transform: translateX(-50%);

    }
    
}
nav a{
    color: antiquewhite;
    font-size: 1.5rem;
    text-decoration: none;
}
nav a:hover{
    color: antiquewhite;
}