

@media screen and (max-width:1175px) {
   .flex-box{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
   }
   .scroll{scroll-snap-align: start end;
    scroll-padding-top: 1.5rem;}
    

}

h5 {
    font-family: 'Playfair Display', serif
}

p {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.1rem;
}

@media screen and (min-width:1175px) {
    .spinner{
        position: absolute;
        left: 50rem;
    }
    .flex-box {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 50%;
        grid-column-gap: 10px;
        grid-row-gap: 3rem;
        padding-bottom: 5rem;
    
        height: max-content;
        
    
    }
    
    .two {
        grid-row-start: span 2;
      
        padding-left: 10px;
        padding-right: 10px;
        border-inline: 1px solid gray;
    }

    .one {
        border-bottom: 1px solid gray;

    }

    .three {
        border-right: 1px solid gray;
        padding-right: 10px;
    }

    .six {
        border-right: 1px solid gray;

        padding-right: 10px;
    }
    .one h5 {
        font-size: 1.8rem;
        font-weight: 800;
    }
    
    .five h5 {
        font-size: 1.5rem;
        font-weight: 800;
    }
    
    .two h5 {
        font-size: 1.5rem;
        font-weight: 800;
    }
    
    .three h5 {
        font-size: 1.3rem;
        font-weight: 800;
    }
    
    .six h5 {
        font-weight: 800;
        font-size: 1.3rem;
    
    }
    
    .four h5 {
        font-size: 1.5rem;
        font-weight: 800;
    }
    
    .seven h5 {
        font-size: 1.5rem;
        font-weight: 800;
    }
    
    .one img {
        display: none;
    }
    
    .five img {
        display: none;
    }
    
    .four img {
        display: none;
    }
    
    .seven img {
        display: none;
    }
    
    .three img {
        height: 10rem;
    }
    
    .six img {
        height: 10rem;
    }
    
    .two img {
        height: 40vh;
    }


}


.text-center{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}